<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="php/net/webdropzone/galerie/bootstrap.php" colors="true">
    <php>
        <var name="db_dsn" value="mysql:dbname=hello_world_test;host=localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
    </php>

    <testsuites>
        <testsuite name="Galerie Test Suite">
            <directory>./php/net/webdropzone/galerie/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./php/net/webdropzone/galerie</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>