body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.fade {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
   opacity: 1;
}

.navbar-inverse .input-append .add-on:last-child 
{
    -moz-transition: none 0s ease 0s;
    background-color: #515151;
    border-color: #111111;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
}

.input-append .add-on:last-child {
    border-radius: 0 15px 15px 0;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-left-style: none;
}
.navbar-search .search-query {
    border-radius: 15px 0 0 15px;
    padding: 4px 14px;
    border-right-style: none;
}