a img {
  border: none;
}

#container li {
	/*padding:5px;*/
	float:left;
  	width: 222px;
  	height: 112px;
  	text-align: center;
  	line-height:112px;
	border:1px solid #595959;
	margin: 6px 6px;
	padding: 1px;
	background-color:#000;
}
li.image {
	display: block;
}
li.image img{
  width:auto;
  height:auto;
  max-width:220px;
  max-height:110px;
  vertical-align:middle;
  text-align:left;
}
.fade {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.fadeBG {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.fadeBGOFF {
   opacity: 1;
}
.fade:hover {
   opacity: 1;
}
html{
	/*height:100%;*/
	margin:0;
	padding:0;
	width:100%;
	background-color:#000;
	font-family:arial;
}

body{
	/*height:100%;*/
	margin:0 auto;
	padding:0;
	/*width:92%;*/
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;}
#main {
	border:1px solid #595959;
	background-color:#242424;
	height: auto;
	/*margin: 5px;*/
	position: relative;
}
#container{
	/*width:100%;*/
	min-height:220px;
	list-style-type: none;
	margin: 0 auto;
	padding: 5px;
}
#message {
	top: 0;
	left: 0;
	width: 100%;
  	position: absolute;
  	z-index: 2;
    text-align: left;
    vertical-align:middle;
  	line-height: 1em;	
}
html>body #message {
  position: fixed
}
#container .dragbox {
	/*margin: 5px;*/
	/*background: #fff;*/
	/*position: relative;*/
	border: 1px solid #ddd;
}

#container .placeholder {
	/*background: #fff;*/
	/*border: 2px dashed #595959;*/
}

.clear { 
	clear: both;
	/*margin: 5px auto;*/
}

#footer {
	float: left;
	width: 100%;
	min-height: 50px;
	margin: 5px;
}
